.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 15px;
    margin-bottom: 24px;

}

.footer-toptext{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.footer-bottomtext{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
}

.social-media-icons{
    display: flex;
    justify-content: space-between;

    margin: 24px;
}